/* Siga as orientações no arquivo README para concluir o exercício */

.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: green;
    color: brown;
}
.cabecalho{
    display: flex;
    justify-content: center;
    background-color: aqua;
}

.titulo{
    color: red;   
    font-weight: bold;
    font-size: 32px;
}

.subtitulo{
    color: blue;
}

.conteudo1{
    color: turquoise;
}
